html, body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    margin: 0 auto;
    width: 90%;
    
}

#createBoard{
    border: 1px solid black;
    
    min-width: 300px;

}

#createBoard .top{
    padding: 5px 40px;
}

#createBoard >  hr{
    display: none;
}
#createBoard:hover >  hr{
    position: relative;
    width: 100%;
    display: block;
}

.hidden{
    display: block;
    padding: 10px 40px;
}

.hidden input{
    width: 100%;
    margin-bottom: 1rem;
}

.hidden button{
    float: right;
    width: 33%;
    min-width: 130px;
    margin-bottom: 1rem;
}

#createBoard:hover{
    transform: scale(1.07);
}

#createBoard:hover .hidden{
    display: block;
}