#navIcon{
    display: flex;
    justify-content: center;
    margin: 2rem 0 4rem 0;
}

#navIcon a{
    display: flex;
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    min-width: 30px;
    min-height: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25);
}
#navIcon a:hover{ 
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.15);

}
#navIcon a:active{ 
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
}