<% include ../partials/header %>
<% include ../partials/nav %>
<div class="container">
    <div id="createBoard">
        <div class="top">
            <h2>Create New Board</h2>    
        </div>
        <hr>
        <div class="hidden">
            <input type="text">
            <button class="btn">Create New Board</button>
        </div>
    </div>

</div>
<% include ../partials/footer %>